body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: #f36b7f;
    position: relative;
    font-size: 12px;
    padding-bottom: 1.5em;
    font-family: sans-serif;
}
.container{
    width: 98%;
    margin: 0 auto;
}

.rose{
    position: relative;
    top: 13px;
}
.logo{
    position: relative;
    left: 5px;
    top: 8px;
    font-family: monospace;

}

header::after{
    content: '';
    clear: both;
    display: block;
}

.site-nav{
    top:100%;
    right:0;
    position: absolute;
    background: #f36b7f;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
}
.site-nav-open{
    clip-path: circle(150% at top right);
}
.site-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-nav li{
    border-bottom: 1px solid #575766;
}
.site-nav li:last-child{
    border-bottom: none;
}
.site-nav a{
    color: black;
    display: block;
    padding: 2em 4em;
    text-decoration: none;
}


.site-nav--icon{
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, 0.918);
}

.menu-toggle{
   
    padding-bottom: 1em;
    padding-top: 1.08em;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    
    
}
.menu-open .hamburger{
    transform: rotate(45deg);
}
.menu-open .hamburger::before{
    opacity: 0;
}
.menu-open .hamburger::after{
    transform: translateY(-3px) rotate(-90deg);
}
.hamburger,
.hamburger::before,
.hamburger::after{
    content: '';
    display: block;
    background: black;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}
.hamburger::before{
    transform: translateY(-6px);
}
.hamburger::after{
    transform: translateY(3px);
}

@media (min-width:700px){
  .menu-toggle{
      display: none;
  } 
  .site-nav{
      height: auto;
      position: relative;
      background: transparent;
      float: right;
      margin-right: 10px;
      clip-path: initial;
  } 
  .site-nav li{
      display: inline-block;
      border: none;
  }

  .site-nav a{
      padding: 0;
      margin-left: 3em;
  }
  .site-nav--icon{
      display: none;
  }
  .site-nav a:hover,
  .site-nav a:focus{
      background: transparent;
  }

}

h1 {
  color: green;
}

